copyq/.config/copyq/*
!copyq/.config/copyq/copyq.conf

*.log
*.dat

zsh/dot-zshenv

git/*

rime/.local/share/fcitx5/rime/extended.userdb/*
rime/.local/share/fcitx5/rime/clover.userdb/*
rime/.local/share/fcitx5/rime/build/*
rime/.local/share/fcitx5/rime/sync/*
rime/.local/share/fcitx5/rime/user.yaml
rime/.local/share/fcitx5/rime/installation.yaml

ranger/.config/ranger/trash_history
ranger/.config/ranger/plugins/__pycache__/*
ranger/.config/ranger/plugins/ranger_devicons/*
!ranger/.config/ranger/plugins/ranger_devicons/__init__.py
!ranger/.config/ranger/plugins/ranger_devicons/devicons.py

!nvim/.config/nvim/lua/
!nvim/.config/nvim/init.lua
nvim/.config/nvim/spell/
nvim/.config/nvim/lazy-lock.json
